.select {
  width: 165px;
  height: 24px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 2px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.select:focus {
}

.option:hover {
}
